<h1><%= @mechanic.name%> Show Page</h1>

<div id="mechanic_info">
<h2>Mechnic Information </h2>
  <p>Name: <%= @mechanic.name%></p>
  <p>Years of Experience: <%= @mechanic.years_experience%></p>
  <p>Maintenance on Rides: <% @mechanic.rides.each do |ride| %></p> 
    <%= ride.name %>
  <% end %>
</div>