<h1><%= "#{@mechanic.name}'s Page" %></h1>

<%= "Years of experience: #{@mechanic.years_of_experience} "%></br></br>


<h3> Currently working on: </h3>
<% @mechanic.rides.each do |ride| %>

  <%= ride.name %></br>

  <% end %>