<h1>Name: <%= @mechanic.name %></h1>
<h2>Years Experience: <%= @mechanic.years_experience %></h2>
<h3>Rides working on:</h3>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>
