<h1><%= @mechanic.name %></h1>

<p>Years of Experience: <%= @mechanic.years_experience %></p>

<h2>Rides:</h2>
<section id="rides">
  <% @mechanic.rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</section>