<h1>Welcome to: <%= @parks.name %></h1>


<h3>Admission Cost:<%= @parks.admission_cost %>

  <ul>
  <% @mechanics_on_site.each do |mechanic| %>
    <li>
    <p><%= mechanic.name %></p>
    </li>
  <% end %>
  </ul>
