<h1><%= @amusement_park.name %></h1>

<p>Price: <%= @amusement_park.admission_cost %></p>

<h2>Mechanics working on rides:</h2>
<section id="mechanics">
  <% @amusement_park.find_mechanics.each do |mechanic| %>
    <p><%= mechanic %></p>
  <% end %>
</section>